.ngstudy-form-sample__menu-disabled-true
{
  color:gray;
}
.ngstudy-form-sample__menu-disabled-false
{
  color:blue;
}
.error
{
  background-color: red;
}
.warning
{
  background-color: yellow;
}
.selected
{
  background-color: lightgreen;
}