<h1>First Sample</h1>
<div class="expressions">
  Expression:
  <input type='text' ng-model="expr" size="80"/>
  <button ng-click="addExp(expr)">Evaluate</button>
  <ul>
    <li ng-repeat="expr in exprs track by $index">
      [ <a href="" ng-click="removeExp($index)">X</a> ]
      <tt>{{expr}}</tt> => <span ng-bind="$eval(expr)"></span>
    </li>
  </ul>
</div>

<h1>One-time binding</h1>
<h5>An expression that starts with :: is considered a one-time expression. One-time expressions will stop recalculating once they are stable</h5>
<div>
  <button ng-click="clickMe($event)">Click Me</button>
  <p id="one-time-binding-example">One time binding: {{name}}</p>
  <p id="normal-binding-example">Normal binding: {{name}}</p>
</div>